* text=auto eol=lf
*.cs text eol=lf
*.xaml text eol=lf
*.csproj text eol=lf
*.slnx text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.png binary
*.ico binary
